blockquote {
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-left: 0;
  font-size: 14px;
  font-style: italic;
}
#header, #content, #footnotes, #footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: fit-content; /* 原来为62.5em */
    *zoom: 1;
    position: relative;
    padding-left: .9375em;
    padding-right: .9375em;
}
#title {
    text-align: center;
}
