.new-tip {
  background-color: #F60;
  display: inline-block;
  padding: 0 2px;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  color: #fff;
  overflow: hidden;
  line-height: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 200;
  margin-left: 6px;
}
